# Version 3

In [93]:
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 100)

cleaned_test = pd.read_csv('../Data/cleaned_test.csv')
autoru = pd.read_csv('../Data/autoru_cars_2.csv')
avito = pd.read_csv('../Data/cars_avito.csv')
drom_new = pd.read_csv('../Data/drom_cars.csv')

In [94]:
autoru.head()

,Unnamed: 0,test,style,body,color,fuel,model_date,doors,production_date,transmission,engine_displacement,engine_power,mileage,drive_type,wheel,condition,owners,vehicle_title,description,features,ownership,price,model,generation
0,0,0,525E,седан,золотистый,Бензин,1981,4,1986,механическая,2.7,125,220000.0,задний,Левый,Не требует ремонта,2,Оригинал,Unknown,Unknown,Unknown,50000.0,5 серия,II (E28)
1,1,0,520i,седан,красный,Бензин,1987,4,1991,механическая,2.0,129,300000.0,задний,Левый,Не требует ремонта,3,Оригинал,Unknown,Unknown,Unknown,60000.0,5 серия,III (E34)
2,2,0,528i,седан,синий,Бензин,1981,4,1985,механическая,2.8,184,200000.0,задний,Левый,Не требует ремонта,3,Дубликат,Unknown,Unknown,Unknown,65000.0,5 серия,II (E28)
3,3,0,316i,седан,серый,Бензин,1990,4,1992,механическая,1.6,102,300000.0,задний,Левый,Не требует ремонта,3,Дубликат,Unknown,Unknown,Unknown,68000.0,3 серия,III (E36)
4,4,0,318i,седан,зелёный,Бензин,1990,4,1994,механическая,1.8,115,350000.0,задний,Левый,Не требует ремонта,3,Дубликат,Unknown,Unknown,Unknown,70000.0,3 серия,III (E36)

In [95]:
cleaned_test.head()

,Unnamed: 0,test,style,body,color,fuel,model_date,doors,production_date,transmission,engine_displacement,engine_power,mileage,drive_type,wheel,condition,owners,vehicle_title,description,features,ownership,price
0,0,1,520d,седан,чёрный,дизель,2016,4,2017,автоматическая,2.0,190,158836,задний,Левый,Не требует ремонта,1,Оригинал,В РОЛЬФ Ясенево представлено более 500 автомоб...,"['[{""name"":""Безопасность"",""values"":[""Антипробу...",NaN,0
1,1,1,318d,седан,белый,дизель,2018,4,2019,автоматическая,2.0,150,10,задний,Левый,Не требует ремонта,1,Оригинал,Автомобиль из демонстрационного парка по спец ...,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",NaN,0
2,2,1,550i xDrive,седан,синий,бензин,2009,4,2012,автоматическая,4.4,407,120000,полный,Левый,Не требует ремонта,2,Оригинал,Машина собиралась под заказ! \n\n,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",7 лет и 2 месяца,0
3,3,1,30d,внедорожник,белый,дизель,2014,5,2015,автоматическая,3.0,249,111466,полный,Левый,Не требует ремонта,2,Оригинал,АВТОМОБИЛЬ В БЕЗУПРЕЧНОМ ВНЕШНЕМ И ТЕХНИЧЕСКОМ...,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",NaN,0
4,4,1,M50d,внедорожник,синий,дизель,2014,5,2019,автоматическая,3.0,381,11891,полный,Левый,Не требует ремонта,1,Оригинал,Автомобиль не имеет собственников ( физ. лиц) ...,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",NaN,0

In [96]:
avito.head()

,Unnamed: 0,test,style,body,color,fuel,model_date,doors,production_date,transmission,engine_displacement,engine_power,mileage,drive_type,wheel,condition,owners,vehicle_title,description,features,ownership,price
0,0,0,18d xDrive Steptronic,внедорожник,чёрный,дизель,2019,5,2020,автоматческая,2.0,150,0,полный,Левый,Новый,0,NaN,Sport Line,"[Кожа, Кожаный руль, Передних сидений, Зеркал,...",NaN,2526000
1,1,0,18d xDrive Steptronic,внедорожник,бежевый,дизель,2019,5,2020,автоматческая,2.0,150,0,полный,Левый,Новый,0,NaN,Advantage Plus,[],NaN,2990000
2,2,0,18d xDrive Steptronic,внедорожник,бежевый,дизель,2019,5,2020,автоматческая,2.0,150,0,полный,Левый,Новый,0,NaN,Advantage,[],NaN,2870000
3,3,0,218i,седан,серый,бензин,2019,4,2020,роботизированная,1.5,140,0,передний,Левый,Новый,0,NaN,M Sport,"[Ткань, Кожаный руль, Передних сидений, Руля, ...",NaN,2280990
4,4,0,218i,седан,синий,бензин,2019,4,2020,роботизированная,1.5,140,0,передний,Левый,Новый,0,NaN,M Sport,"[Ткань, Кожаный руль, Передних сидений, Руля, ...",NaN,2169120

In [97]:
drom_new.head()

,Unnamed: 0,test,style,body,color,fuel,model_date,doors,production_date,transmission,engine_displacement,engine_power,mileage,drive_type,wheel,condition,owners,vehicle_title,description,features,ownership,price
0,0,0,520d,седан,черный,дизель,2010,4,2013,автомат,2.0,184.0,96000.0,задний,левый,NaN,3.0,NaN,NaN,"['Нагнетатель', 'Система старт-стоп', 'Электро...",NaN,1220000
1,1,0,NaN,седан,серебристый,бензин,2017,4,2019,автомат,4.4,625.0,3600.0,полный,левый,NaN,1.0,NaN,NaN,"['Зимняя комплектация', 'Нагнетатель', 'Систем...",NaN,7600000
2,2,0,850Ci,купе,синий,бензин,1989,2,1993,автомат,5.0,300.0,160000.0,задний,левый,NaN,3.0,NaN,NaN,"['Гидроусилитель руля', 'Алюминиевые колесные ...",NaN,2150000
3,3,0,NaN,внедорожник,черный,дизель,2019,5,2019,автомат,3.0,249.0,19100.0,полный,левый,NaN,1.0,NaN,NaN,NaN,NaN,4050000
4,4,0,xDrive 30d,внедорожник,черный,дизель,2006,5,2007,автомат,3.0,235.0,203000.0,полный,левый,NaN,3.0,NaN,NaN,"['Зимняя комплектация', 'Нагнетатель', 'Поддер...",NaN,1050000

In [56]:
#drom_new = drom_new.drop('model', axis=1)

In [103]:
autoru = autoru.drop(['model', 'generation'], axis=1)

In [104]:
print(cleaned_test.columns == autoru.columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True]

In [102]:
autoru.columns

Index(['Unnamed: 0', 'test', 'style', 'body', 'color', 'fuel', 'model_date',
       'doors', 'production_date', 'transmission', 'engine_displacement',
       'engine_power', 'mileage', 'drive_type', 'wheel', 'condition', 'owners',
       'vehicle_title', 'description', 'features', 'ownership', 'price',
       'model', 'generation'],
      dtype='object')

In [101]:
print(cleaned_test.columns == avito.columns)
print(cleaned_test.columns == drom_new.columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True]

In [105]:
df = pd.concat([cleaned_test, autoru, avito, drom_new])

In [106]:
df = df.drop('Unnamed: 0', axis=1)

In [107]:
df['model_date'] = df['model_date'].astype('str')

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17994 entries, 0 to 1405
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   test                 17994 non-null  int64
 1   style                16859 non-null  object
 2   body                 17994 non-null  object
 3   color                17967 non-null  object
 4   fuel                 17990 non-null  object
 5   model_date           17994 non-null  object
 6   doors                17994 non-null  int64
 7   production_date      17994 non-null  int64
 8   transmission         17991 non-null  object
 9   engine_displacement  17989 non-null  float64
 10  engine_power         17980 non-null  float64
 11  mileage              17946 non-null  float64
 12  drive_type           17990 non-null  object
 13  wheel                17979 non-null  object
 14  condition            16588 non-null  object
 15  owners               17943 non-null  float64
 16  vehicle_title        10373 non-null  object
 17  description          15562 non-null  object
 18  features             16997 non-null  object
 19  ownership            8289 non-null   object
 20  price                17994 non-null  float64
dtypes: float64(5), int64(3), object(13)
memory usage: 3.0+ MB

In [109]:
df.isna().sum()

test                      0
style                  1135
body                      0
color                    27
fuel                      4
model_date                0
doors                     0
production_date           0
transmission              3
engine_displacement       5
engine_power             14
mileage                  48
drive_type                4
wheel                    15
condition              1406
owners                   51
vehicle_title          7621
description            2432
features                997
ownership              9705
price                     0
dtype: int64

In [111]:
df['condition'].value_counts(dropna=False)

Не требует ремонта    15365
NaN                    1406
Новый                  1104
Битый                   119
Name: condition, dtype: int64

In [112]:
df = df.drop(['ownership', 'vehicle_title'], axis=1)

In [113]:
df.isna().sum()

test                      0
style                  1135
body                      0
color                    27
fuel                      4
model_date                0
doors                     0
production_date           0
transmission              3
engine_displacement       5
engine_power             14
mileage                  48
drive_type                4
wheel                    15
condition              1406
owners                   51
description            2432
features                997
price                     0
dtype: int64

In [114]:
df = df.dropna()

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15449 entries, 0 to 6214
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   test                 15449 non-null  int64
 1   style                15449 non-null  object
 2   body                 15449 non-null  object
 3   color                15449 non-null  object
 4   fuel                 15449 non-null  object
 5   model_date           15449 non-null  object
 6   doors                15449 non-null  int64
 7   production_date      15449 non-null  int64
 8   transmission         15449 non-null  object
 9   engine_displacement  15449 non-null  float64
 10  engine_power         15449 non-null  float64
 11  mileage              15449 non-null  float64
 12  drive_type           15449 non-null  object
 13  wheel                15449 non-null  object
 14  condition            15449 non-null  object
 15  owners               15449 non-null  float64
 16  description          15449 non-null  object
 17  features             15449 non-null  object
 18  price                15449 non-null  float64
dtypes: float64(5), int64(3), object(11)
memory usage: 2.4+ MB

In [ ]:
df['price'].value_counts(dropna=False).head(500).sort_index()

In [118]:
df.loc[df['body'] == 'хетчбэк', 'body'] = 'хэтчбек'
df.loc[df['body'] == 'минивэн', 'body'] = 'компактвэн'
# df.loc[df['body'] == 'купе-хардтоп', 'body'] = 'купе'

In [121]:
df.loc[df['color'] == 'зеленый', 'color'] = 'зелёный'
df.loc[df['color'] == 'золотой', 'color'] = 'золотистый'
df.loc[df['color'] == 'серебряный', 'color'] = 'серебристый'
df.loc[df['color'] == 'черный', 'color'] = 'чёрный'

In [124]:
df.loc[df['fuel'] == ' Бензин', 'fuel'] = 'бензин'
df.loc[df['fuel'] == ' Гибрид', 'fuel'] = 'гибрид'
df.loc[df['fuel'] == ' Дизель', 'fuel'] = 'дизель'
df.loc[df['fuel'] == ' Электро', 'fuel'] = 'электро'
df.loc[df['fuel'] == ' Бензин, газобаллонное оборудование', 'fuel'] = 'бензин-газ'

In [131]:
df.loc[df['transmission'] == 'автомат', 'transmission'] = 'автоматическая'
df.loc[df['transmission'] == 'автоматческая', 'transmission'] = 'автоматическая'
df.loc[df['transmission'] == 'механика', 'transmission'] = 'механическая'

In [ ]:
df['engine_displacement'].value_counts()

In [73]:
df[df['engine_displacement'] == 170.0]

,test,style,body,color,fuel,doors,production_date,transmission,engine_displacement,engine_power,mileage,drive_type,wheel,owners,price
4770,0,Electro,хэтчбек,чёрный,электро,5,2015,автоматическая,170.0,125.0,60000.0,задний,Левый,1.0,1790000.0
4987,0,Electro,хэтчбек,серый,электро,5,2015,автоматическая,170.0,125.0,47000.0,задний,Левый,2.0,1970000.0

In [134]:
df.loc[df['engine_displacement'] == 170.0, 'engine_power'] = 170.0
df.loc[df['engine_displacement'] == 170.0, 'engine_displacement'] = 3.0

In [140]:
df.loc[df['wheel'] == 'левый', 'wheel'] = 'Левый'

In [147]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15449 entries, 0 to 6214
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   test                 15449 non-null  int64
 1   style                15449 non-null  object
 2   body                 15449 non-null  object
 3   color                15449 non-null  object
 4   fuel                 15449 non-null  object
 5   model_date           15449 non-null  object
 6   doors                15449 non-null  int64
 7   production_date      15449 non-null  int64
 8   transmission         15449 non-null  object
 9   engine_displacement  15449 non-null  float64
 10  engine_power         15449 non-null  float64
 11  mileage              15449 non-null  float64
 12  drive_type           15449 non-null  object
 13  wheel                15449 non-null  object
 14  condition            15449 non-null  object
 15  owners               15449 non-null  float64
 16  description          15449 non-null  object
 17  features             15449 non-null  object
 18  price                15449 non-null  float64
dtypes: float64(5), int64(3), object(11)
memory usage: 2.4+ MB

# Remove duplicates

In [148]:
test = df[df['test'] == 1]
not_test = df[df['test'] == 0]

In [149]:
not_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11725 entries, 0 to 6214
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   test                 11725 non-null  int64
 1   style                11725 non-null  object
 2   body                 11725 non-null  object
 3   color                11725 non-null  object
 4   fuel                 11725 non-null  object
 5   model_date           11725 non-null  object
 6   doors                11725 non-null  int64
 7   production_date      11725 non-null  int64
 8   transmission         11725 non-null  object
 9   engine_displacement  11725 non-null  float64
 10  engine_power         11725 non-null  float64
 11  mileage              11725 non-null  float64
 12  drive_type           11725 non-null  object
 13  wheel                11725 non-null  object
 14  condition            11725 non-null  object
 15  owners               11725 non-null  float64
 16  description          11725 non-null  object
 17  features             11725 non-null  object
 18  price                11725 non-null  float64
dtypes: float64(5), int64(3), object(11)
memory usage: 1.8+ MB

In [150]:
not_test = not_test.drop_duplicates()

In [151]:
not_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11628 entries, 0 to 6214
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   test                 11628 non-null  int64
 1   style                11628 non-null  object
 2   body                 11628 non-null  object
 3   color                11628 non-null  object
 4   fuel                 11628 non-null  object
 5   model_date           11628 non-null  object
 6   doors                11628 non-null  int64
 7   production_date      11628 non-null  int64
 8   transmission         11628 non-null  object
 9   engine_displacement  11628 non-null  float64
 10  engine_power         11628 non-null  float64
 11  mileage              11628 non-null  float64
 12  drive_type           11628 non-null  object
 13  wheel                11628 non-null  object
 14  condition            11628 non-null  object
 15  owners               11628 non-null  float64
 16  description          11628 non-null  object
 17  features             11628 non-null  object
 18  price                11628 non-null  float64
dtypes: float64(5), int64(3), object(11)
memory usage: 1.8+ MB

In [152]:
df = pd.concat([not_test, test])

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15352 entries, 0 to 3836
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   test                 15352 non-null  int64
 1   style                15352 non-null  object
 2   body                 15352 non-null  object
 3   color                15352 non-null  object
 4   fuel                 15352 non-null  object
 5   model_date           15352 non-null  object
 6   doors                15352 non-null  int64
 7   production_date      15352 non-null  int64
 8   transmission         15352 non-null  object
 9   engine_displacement  15352 non-null  float64
 10  engine_power         15352 non-null  float64
 11  mileage              15352 non-null  float64
 12  drive_type           15352 non-null  object
 13  wheel                15352 non-null  object
 14  condition            15352 non-null  object
 15  owners               15352 non-null  float64
 16  description          15352 non-null  object
 17  features             15352 non-null  object
 18  price                15352 non-null  float64
dtypes: float64(5), int64(3), object(11)
memory usage: 2.3+ MB

In [154]:
df.to_csv('../Data/united_3.csv')