# Version 1.1

In [84]:
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 100)

cleaned_test = pd.read_csv('../Data/cleaned_test.csv')
autoru = pd.read_csv('../Data/autoru_cars.csv')
avito = pd.read_csv('../Data/cars_avito.csv')
drom_new = pd.read_csv('../Data/drom_cars.csv')

In [85]:
autoru.head()

,Unnamed: 0,test,style,body,color,fuel,model_date,doors,production_date,transmission,engine_displacement,engine_power,mileage,drive_type,wheel,condition,owners,vehicle_title,description,features,ownership,price
0,0,0,525E,седан,золотистый,Бензин,Unknown,4,1986,механическая,2.7,125,220000.0,задний,Левый,Не требует ремонта,2,Оригинал,Unknown,Unknown,NaN,50000.0
1,1,0,525i,седан,серый,Бензин,Unknown,4,1988,механическая,2.5,170,300000.0,задний,Левый,Не требует ремонта,3,Дубликат,Unknown,Unknown,NaN,70000.0
2,2,0,318i,седан,зелёный,Бензин,Unknown,5,1994,механическая,1.8,115,350000.0,задний,Левый,Не требует ремонта,3,Дубликат,Unknown,Unknown,9 месяцев,70000.0
3,3,0,520i,седан,чёрный,Бензин,Unknown,4,1992,механическая,2.0,150,100000.0,задний,Левый,Не требует ремонта,3,Оригинал,Unknown,Unknown,NaN,70000.0
4,4,0,520i,седан,чёрный,Бензин,Unknown,4,1992,механическая,2.0,150,250000.0,задний,Левый,Не требует ремонта,3,Дубликат,Unknown,"['Электростеклоподъёмники задние', 'Электросте...",5 месяцев,75000.0

In [86]:
cleaned_test.head()

,Unnamed: 0,test,style,body,color,fuel,model_date,doors,production_date,transmission,engine_displacement,engine_power,mileage,drive_type,wheel,condition,owners,vehicle_title,description,features,ownership,price
0,0,1,520d,седан,чёрный,дизель,2016,4,2017,автоматическая,2.0,190,158836,задний,Левый,Не требует ремонта,1,Оригинал,В РОЛЬФ Ясенево представлено более 500 автомоб...,"['[{""name"":""Безопасность"",""values"":[""Антипробу...",NaN,0
1,1,1,318d,седан,белый,дизель,2018,4,2019,автоматическая,2.0,150,10,задний,Левый,Не требует ремонта,1,Оригинал,Автомобиль из демонстрационного парка по спец ...,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",NaN,0
2,2,1,550i xDrive,седан,синий,бензин,2009,4,2012,автоматическая,4.4,407,120000,полный,Левый,Не требует ремонта,2,Оригинал,Машина собиралась под заказ! \n\n,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",7 лет и 2 месяца,0
3,3,1,30d,внедорожник,белый,дизель,2014,5,2015,автоматическая,3.0,249,111466,полный,Левый,Не требует ремонта,2,Оригинал,АВТОМОБИЛЬ В БЕЗУПРЕЧНОМ ВНЕШНЕМ И ТЕХНИЧЕСКОМ...,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",NaN,0
4,4,1,M50d,внедорожник,синий,дизель,2014,5,2019,автоматическая,3.0,381,11891,полный,Левый,Не требует ремонта,1,Оригинал,Автомобиль не имеет собственников ( физ. лиц) ...,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",NaN,0

In [87]:
avito.head()

,Unnamed: 0,test,style,body,color,fuel,model_date,doors,production_date,transmission,engine_displacement,engine_power,mileage,drive_type,wheel,condition,owners,vehicle_title,description,features,ownership,price
0,0,0,18d xDrive Steptronic,внедорожник,чёрный,дизель,2019,5,2020,автоматческая,2.0,150,0,полный,Левый,Новый,0,NaN,Sport Line,"[Кожа, Кожаный руль, Передних сидений, Зеркал,...",NaN,2526000
1,1,0,18d xDrive Steptronic,внедорожник,бежевый,дизель,2019,5,2020,автоматческая,2.0,150,0,полный,Левый,Новый,0,NaN,Advantage Plus,[],NaN,2990000
2,2,0,18d xDrive Steptronic,внедорожник,бежевый,дизель,2019,5,2020,автоматческая,2.0,150,0,полный,Левый,Новый,0,NaN,Advantage,[],NaN,2870000
3,3,0,218i,седан,серый,бензин,2019,4,2020,роботизированная,1.5,140,0,передний,Левый,Новый,0,NaN,M Sport,"[Ткань, Кожаный руль, Передних сидений, Руля, ...",NaN,2280990
4,4,0,218i,седан,синий,бензин,2019,4,2020,роботизированная,1.5,140,0,передний,Левый,Новый,0,NaN,M Sport,"[Ткань, Кожаный руль, Передних сидений, Руля, ...",NaN,2169120

In [88]:
drom_new.head()

,Unnamed: 0,test,style,body,color,fuel,model_date,doors,production_date,transmission,engine_displacement,engine_power,mileage,drive_type,wheel,condition,owners,vehicle_title,description,features,ownership,price
0,0,0,520d,седан,черный,дизель,2010,4,2013,автомат,2.0,184.0,96000.0,задний,левый,NaN,3.0,NaN,NaN,"['Нагнетатель', 'Система старт-стоп', 'Электро...",NaN,1220000
1,1,0,NaN,седан,серебристый,бензин,2017,4,2019,автомат,4.4,625.0,3600.0,полный,левый,NaN,1.0,NaN,NaN,"['Зимняя комплектация', 'Нагнетатель', 'Систем...",NaN,7600000
2,2,0,850Ci,купе,синий,бензин,1989,2,1993,автомат,5.0,300.0,160000.0,задний,левый,NaN,3.0,NaN,NaN,"['Гидроусилитель руля', 'Алюминиевые колесные ...",NaN,2150000
3,3,0,NaN,внедорожник,черный,дизель,2019,5,2019,автомат,3.0,249.0,19100.0,полный,левый,NaN,1.0,NaN,NaN,NaN,NaN,4050000
4,4,0,xDrive 30d,внедорожник,черный,дизель,2006,5,2007,автомат,3.0,235.0,203000.0,полный,левый,NaN,3.0,NaN,NaN,"['Зимняя комплектация', 'Нагнетатель', 'Поддер...",NaN,1050000

In [56]:
drom_new = drom_new.drop('model', axis=1)

In [57]:
print(cleaned_test.columns == autoru.columns)
print(cleaned_test.columns == avito.columns)
(cleaned_test.columns == drom_new.columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True]

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [58]:
df = pd.concat([cleaned_test, autoru, avito, drom_new])

In [59]:
df = df.drop('Unnamed: 0', axis=1)

In [60]:
df['model_date'] = df['model_date'].astype('str')

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17492 entries, 0 to 1405
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   test                 17492 non-null  int64
 1   style                16357 non-null  object
 2   body                 17492 non-null  object
 3   color                17465 non-null  object
 4   fuel                 17488 non-null  object
 5   model_date           17492 non-null  object
 6   doors                17492 non-null  int64
 7   production_date      17492 non-null  int64
 8   transmission         17489 non-null  object
 9   engine_displacement  17487 non-null  float64
 10  engine_power         17478 non-null  float64
 11  mileage              17444 non-null  float64
 12  drive_type           17488 non-null  object
 13  wheel                17477 non-null  object
 14  condition            16086 non-null  object
 15  owners               17441 non-null  float64
 16  vehicle_title        9871 non-null   object
 17  description          15060 non-null  object
 18  features             16495 non-null  object
 19  ownership            4280 non-null   object
 20  price                17492 non-null  float64
dtypes: float64(5), int64(3), object(13)
memory usage: 2.9+ MB

In [62]:
df.isna().sum()

test                       0
style                   1135
body                       0
color                     27
fuel                       4
model_date                 0
doors                      0
production_date            0
transmission               3
engine_displacement        5
engine_power              14
mileage                   48
drive_type                 4
wheel                     15
condition               1406
owners                    51
vehicle_title           7621
description             2432
features                 997
ownership              13212
price                      0
dtype: int64

In [63]:
df = df.drop(['ownership', 'vehicle_title', 'description',
              'features', 'condition', 'model_date'], axis=1)

In [64]:
df.isna().sum()

test                      0
style                  1135
body                      0
color                    27
fuel                      4
doors                     0
production_date           0
transmission              3
engine_displacement       5
engine_power             14
mileage                  48
drive_type                4
wheel                    15
owners                   51
price                     0
dtype: int64

In [65]:
df = df.dropna()

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16315 entries, 0 to 1404
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   test                 16315 non-null  int64
 1   style                16315 non-null  object
 2   body                 16315 non-null  object
 3   color                16315 non-null  object
 4   fuel                 16315 non-null  object
 5   doors                16315 non-null  int64
 6   production_date      16315 non-null  int64
 7   transmission         16315 non-null  object
 8   engine_displacement  16315 non-null  float64
 9   engine_power         16315 non-null  float64
 10  mileage              16315 non-null  float64
 11  drive_type           16315 non-null  object
 12  wheel                16315 non-null  object
 13  owners               16315 non-null  float64
 14  price                16315 non-null  float64
dtypes: float64(5), int64(3), object(7)
memory usage: 2.0+ MB

In [67]:
# df['style'].value_counts().head(500).sort_index()

In [68]:
df.loc[df['body'] == 'хетчбэк', 'body'] = 'хэтчбек'
df.loc[df['body'] == 'минивэн', 'body'] = 'компактвэн'
# df.loc[df['body'] == 'купе-хардтоп', 'body'] = 'купе'

In [69]:
df.loc[df['color'] == 'зеленый', 'color'] = 'зелёный'
df.loc[df['color'] == 'золотой', 'color'] = 'золотистый'
df.loc[df['color'] == 'серебряный', 'color'] = 'серебристый'
df.loc[df['color'] == 'черный', 'color'] = 'чёрный'

In [70]:
df.loc[df['fuel'] == ' Бензин', 'fuel'] = 'бензин'
df.loc[df['fuel'] == ' Гибрид', 'fuel'] = 'гибрид'
df.loc[df['fuel'] == ' Дизель', 'fuel'] = 'дизель'
df.loc[df['fuel'] == ' Электро', 'fuel'] = 'электро'
df.loc[df['fuel'] == ' Бензин, газобаллонное оборудование', 'fuel'] = 'бензин-газ'

In [71]:
df.loc[df['transmission'] == 'автомат', 'transmission'] = 'автоматическая'
df.loc[df['transmission'] == 'автоматческая', 'transmission'] = 'автоматическая'
df.loc[df['transmission'] == 'механика', 'transmission'] = 'механическая'

In [72]:
df['engine_displacement'].value_counts()

2.0      6202
3.0      5915
2.5      1151
4.4      1034
1.6       692
1.5       298
4.8       279
2.2       162
2.8       114
1.8        94
1.9        66
4.0        54
2.9        40
3.5        34
5.0        32
6.0        29
3.6        22
3.4        17
6.6        17
5.4        16
4.6        16
0.6         8
0.0         5
3.2         4
4.9         3
2.4         2
170.0       2
2.3         2
2.7         2
0.7         2
1.7         1
Name: engine_displacement, dtype: int64

In [73]:
df[df['engine_displacement'] == 170.0]

,test,style,body,color,fuel,doors,production_date,transmission,engine_displacement,engine_power,mileage,drive_type,wheel,owners,price
4770,0,Electro,хэтчбек,чёрный,электро,5,2015,автоматическая,170.0,125.0,60000.0,задний,Левый,1.0,1790000.0
4987,0,Electro,хэтчбек,серый,электро,5,2015,автоматическая,170.0,125.0,47000.0,задний,Левый,2.0,1970000.0

In [74]:
df.loc[df['engine_displacement'] == 170.0, 'engine_power'] = 170.0
df.loc[df['engine_displacement'] == 170.0, 'engine_displacement'] = 3.0

In [75]:
df.loc[df['wheel'] == 'левый', 'wheel'] = 'Левый'

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16315 entries, 0 to 1404
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   test                 16315 non-null  int64
 1   style                16315 non-null  object
 2   body                 16315 non-null  object
 3   color                16315 non-null  object
 4   fuel                 16315 non-null  object
 5   doors                16315 non-null  int64
 6   production_date      16315 non-null  int64
 7   transmission         16315 non-null  object
 8   engine_displacement  16315 non-null  float64
 9   engine_power         16315 non-null  float64
 10  mileage              16315 non-null  float64
 11  drive_type           16315 non-null  object
 12  wheel                16315 non-null  object
 13  owners               16315 non-null  float64
 14  price                16315 non-null  float64
dtypes: float64(5), int64(3), object(7)
memory usage: 2.0+ MB

# Remove duplicates

In [77]:
test = df[df['test'] == 1]
not_test = df[df['test'] == 0]

In [78]:
not_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12591 entries, 0 to 1404
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   test                 12591 non-null  int64
 1   style                12591 non-null  object
 2   body                 12591 non-null  object
 3   color                12591 non-null  object
 4   fuel                 12591 non-null  object
 5   doors                12591 non-null  int64
 6   production_date      12591 non-null  int64
 7   transmission         12591 non-null  object
 8   engine_displacement  12591 non-null  float64
 9   engine_power         12591 non-null  float64
 10  mileage              12591 non-null  float64
 11  drive_type           12591 non-null  object
 12  wheel                12591 non-null  object
 13  owners               12591 non-null  float64
 14  price                12591 non-null  float64
dtypes: float64(5), int64(3), object(7)
memory usage: 1.5+ MB

In [79]:
not_test = not_test.drop_duplicates()

In [80]:
not_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12288 entries, 0 to 1404
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   test                 12288 non-null  int64
 1   style                12288 non-null  object
 2   body                 12288 non-null  object
 3   color                12288 non-null  object
 4   fuel                 12288 non-null  object
 5   doors                12288 non-null  int64
 6   production_date      12288 non-null  int64
 7   transmission         12288 non-null  object
 8   engine_displacement  12288 non-null  float64
 9   engine_power         12288 non-null  float64
 10  mileage              12288 non-null  float64
 11  drive_type           12288 non-null  object
 12  wheel                12288 non-null  object
 13  owners               12288 non-null  float64
 14  price                12288 non-null  float64
dtypes: float64(5), int64(3), object(7)
memory usage: 1.5+ MB

In [81]:
df = pd.concat([not_test, test])

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16012 entries, 0 to 3836
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   test                 16012 non-null  int64
 1   style                16012 non-null  object
 2   body                 16012 non-null  object
 3   color                16012 non-null  object
 4   fuel                 16012 non-null  object
 5   doors                16012 non-null  int64
 6   production_date      16012 non-null  int64
 7   transmission         16012 non-null  object
 8   engine_displacement  16012 non-null  float64
 9   engine_power         16012 non-null  float64
 10  mileage              16012 non-null  float64
 11  drive_type           16012 non-null  object
 12  wheel                16012 non-null  object
 13  owners               16012 non-null  float64
 14  price                16012 non-null  float64
dtypes: float64(5), int64(3), object(7)
memory usage: 2.0+ MB

In [83]:
df.to_csv('../Data/united_2.csv')